

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instabook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link href="{%static 'css/stylee.css'%}" rel="stylesheet">

</head>

<body style="background-color : #c9cca1">
  <header>
    <div class = "hi">
      <nav class="navbar navbar-expand-lg navbar-light" >
          <div class="">
          <a class="navbar-brand" href="#" style=" font-family: 'SangSangFlowerRoad' "><img src = "{% static 'img\instagram.png'%}" width="60" height="60">Instabook</a>
          </div>  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <br><br><br><br><br>
          <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav" >
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'real'%}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create' %}">Write</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Photo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Follow</a>
              </li>
            </ul>
          </div>
      </nav>
    </div>
  </header>

    {% block contents %}


    {% endblock %}

    <footer class="footer text-center">
        <div id ="footer">
          <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4"></h4>
              <p class="lead mb-0">한양대학교
                <br>ERICA CAMPUS</p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4"></h4>
              <img class="img-fluid mb-5 d-block mx-auto" src="{% static 'img/please.png' %}?v=1.0" >
                
            </div>
            <div class="col-md-4">
              <h4 class="text-uppercase mb-4"></h4>
              <p class="lead mb-0" >About Me
                <br>멋쟁이 사자처럼 7기 노지영
              </p>
            </div>
          </div>
        </div>
      </footer>
    
</body>
</html>
