{% extends 'base2.html' %}
{% block contents %}
<center>
    <h1 style = "font-size : 5rem ; font-family: 'SangSangFlowerRoad' ">Write MY STORY</h1>

    <!-- <form style="border:2px dashed #47572d ; font-family: 'GyeonggiBatang'"  action = "{% url 'create' %}">
        <h4 class = "bold">제목 : </h4>
        <input type = "text" name = "title">
        <br><br>
        <h4 class = "bold">본문 : </h4>
        <textarea cols = 40 rows = 10 name = "body"></textarea>
        <br><br>
        <input type = "submit" name = "제출하기">
    </form> -->

    <form method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <br>
            <input type ="submit" value="제출하기">
        </form>
    

</center>
{% endblock %}